.DS_Store
.Trashes
*.vbw
*.csi
*.exp
*.lib
*.lvw
*.dca
*.scc
*.tmp
*.log
*.mdb
*.accde
*.ldb
*.laccdb
*.laccde
*.laccda
*.lda
AxDeviceDetector.exe
SaDeviceDetector.exe
AxDeviceDetectorTest.exe
distrib/**/*